[user]
	name = Mehdi
	email = rngmahdi123@gmail.com
	gmail = rngmahdi123@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
